:root {
    text-align: center;
}

body > *:not(nav) {
    font-size: 1.2em;
}

h1 {
    text-align: center;
    color: var(--mainColor);
    font-size: 2em !important;
}

table {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 0.375rem;
    background-color: var(--lightColor-4);
    border-color: var(--mainColor);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th {
    padding-bottom: 10px;
}

td {
    padding-left: 10px;
    color: var(--lightColor-2);
}

select {
    font-size: large;
    padding: 10px;
    padding-left: 15px;
    border-radius: 0.375rem;
    color: var(--lightColor-1);
    background-color: var(--mainColor);
    width: 126px;
    position: relative;
}

option:hover {
    background-color: #ff0000;
}

option {
    color: #0B2027;
    background-color: #F8F7F9;
    width: 150px;
}

.hide {
    visibility: none;
}

#bar {
    font-size: 1em;
    flex-direction: column;
    gap: .25rem;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0.375rem;
    border-color: #016FB9;
    background-color: #F8F7F9;
    font-size: 1.2em;
}

#bar::placeholder {
    color: #0B2027;
}

td {
    font-size: large;
    padding: 10px;
    padding-left: 15px;
    border-radius: 0.375rem;
    color: var(--lightColor-2);
    width: 126px;
    position: relative;
}

.btn{
    width: 146px;
    padding: 10px;
}