{% extends "base.html" %}

{% load static %}


{% block metaContent %}
  <meta
  name="description"
  content="This is the all students page where it shows all the students in the system"
  />
{% endblock %}

{% block title %}
<title>Searching Student page</title>
{% endblock %}

{% block static_cssFile %}
<link rel="stylesheet" href="{% static 'CSS/all_students_page.css' %}">
{% endblock %}

{% block static_jsFile %}

{% endblock %}


{% block Bodycontent %}
<div id="divtable">
  <table class="main_table">
    <caption><h3>All Registered Students</h3></caption>
    <thead>
      <tr>
        <th id="name">Name</th>
        <th>ID</th>
        <th>Date Of Birth</th>
        <th>University</th>
        <th>Gender</th>
        <th>Status</th>
        <th>Department</th>
        <th>Course 1</th>
        <th>Course 2</th>
        <th>Course 3</th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.date_of_birth }}</td>
                <td>{{ item.university }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.department_name }}</td>
                <td>{{ item.course1 }}</td>
                <td>{{ item.course2 }}</td>
                <td>{{ item.course3 }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <div id="srchbtn">
    <button class="btn to-right-btn" id="search-btn"><span>Search</span><i class="fa-solid fa-angles-right fa-xs"></i></button>
  </div>
</div>
<script src="{% static 'js/all_students_page.js' %}"></script>
{% endblock %}
  

