{% extends "base.html" %}

{% load static %}

{% block metaContent %}
<meta
name="description"
content="This is the search page to search for any students into the system"
/>
{% endblock %}


{% block title %}
<title>Search Page</title>
{% endblock %}


{% block static_cssFile %}
<link rel="stylesheet" href="{% static 'CSS/search-page.css' %}"/>
{% endblock %}



{% block Bodycontent %}
<h1>Search Page</h1>

<div class="searchbar">
    <form method=POST action="{% url 'search-page' %}">
        {% csrf_token %}
        <input id="bar" type="search" placeholder="Student Name or ID" name="searched">
        <button class="btn" type="submit">Search</button>
    </form>
</div>

<table id="studT">
    <div class="tablehead">
        <tr>
            <th>Student Name</th>
            <th>Student ID</th>
            <th>Department</th>
            <th>Activity Status</th>
        </tr>
        {% if searched %}
        {% for stud in results %}
        <tr>
            <td>{{stud.name}}</td>
            <td>{{stud.id}}</td>
            <td>{{stud.department_name}}</td>
            <td>{{stud.status}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </div>
</table>

<script src="{% static 'js/search-page.js' %}"></script>
{% endblock %}

