{% extends "base.html" %}

{% load static %}

{% block metaContent %}
<meta name="description" content="This page for adding a new department for this website">
{% endblock %}

{% block title %}
<title>Adding new department</title>
{% endblock %}

{% block static_cssFile %}
  <!--  Admin panel Style  -->
  <link rel="stylesheet" href="{% static 'CSS/add-course.css' %}">
{% endblock %}

        
{% block Bodycontent %}
    <section class="message">
      <div class="container">
        <div class="successful"></div>
        <div class="warning"></div>
      </div>
    </section>
    <section>
      <h1>Adding new department</h1>
      <div class="container">
        <form method="POST" onsubmit="return false">
          <section>
            <label for="departmentName">Enter department name</label>
            <input id="departmentName" type="text" name="departmentName" placeholder="Enter valid name" required/>
          </section>
          <section>
            <input type="submit" class="btn" onclick="addNewDepartment()">
            <input type="reset" class="btn">
          </section>
        </form>
      </div>
      <script src="{% static 'js/add-department.js' %}"></script>
    </section>
{% endblock %}


