{% extends "base.html" %}

{% load static %}

{% block metaContent %}
<meta
name="description"
content="This is the edit page which admin can modify any student info"
/>
{% endblock %}

{% block title %}
<title>Edit Form</title>
{% endblock %}

{% block static_cssFile %}
<link rel="stylesheet" href="{% static 'CSS/edit.css' %}">
{% endblock %}

    
{% block Bodycontent %}
<section class="message">
    <div class="container">
        <div class="successful"></div>
        <div class="warning"></div>
    </div>
    </section>
    
    <div class="wrapper">
        <div class="title"> Edit Profile</div>
        <span id="saved">Your item has been saved <img src="{% static 'svg/check.png' %}" alt="check mark"></span>
        <div class="form">
            <div class="input_field">
                <label for="full-name">Full Name</label>
                <input type="text" class="input" id="full-name" value="{{name}}">
            </div>
            <div class="input_field">
                <label for="id-number">ID</label>
                <input type="number" class="input" id="id-number" value="{{id}}">
            </div>
            <div class="input_field">
                <label for="dob">Date of Birth</label>
                <input type="date" class="input" id="dob" value="{{ dob|date:'Y-m-d' }}">
            </div>
            <div class="input_field">
                <label for="university">University</label>
                <input type="text" class="input" id="university" value="{{university}}">
            </div>
            <div class="input_field">
                <label for="gender">Gender</label>
                <div class="custom_select">
                    <select id="gender">
                        <option value="{{gender}}">{{gender}}</option>
                        {% if gender == 'Male' %}
                            <option value="Female">Female</option>
                        {% else %}
                            <option value="Male">Male</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label for="status">Status</label>
                <div class="custom_select">
                    <select id="status">
                        <option value="{{status}}">{{status}}</option>
                        {% if status == 'Inactive' %}
                            <option value="Active">Active</option>
                        {% else %}
                            <option value="Inactive">Inactive</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label for="department">Department</label>
                <div class="custom_select">
                    <select id="department">
                        <option value="{{department}}">{{department}}</option>
                        {% for dep in allDepartments %}
                            
                            {% if dep != department %}      
                            <option value="{{dep.name}}">{{dep.name}}</option>                            
                            {% endif %}   
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label for="course1">Course 1</label>
                <div class="custom_select">
                    <select id="course1">
                        <option value="{{course1}}">{{course1}}</option>
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label for="course2">Course 2</label>
                <div class="custom_select">
                    <select id="course2">
                        <option value="{{course2}}">{{course2}}</option>
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label for="course3">Course 3</label>
                <div class="custom_select">
                    <select id="course3">
                        <option value="{{course3}}">{{course3}}</option>
                    </select>
                </div>
            </div>
            <div class="inputfield">
                <input type="submit" value="Save" class="btn" id="submit-btn">
                <input class="btn" id="go-back-btn" value="Go-Back" type="button"/>
    
                <input class="btn" type="submit" value="Delete Student" id="delete-btn"/>
            </div>
        </div>
    </div>
    <script src="{% static 'js/edit.js' %}"></script>
{% endblock %}
