{% extends "base.html" %}

{% load static %}

{% block metaContent %}
<meta name="description" content="this is main page"/>
{% endblock %}

{% block title %}
<title>Main Page</title>
{% endblock %}
    
{% block static_cssFile %}
<!-- Main Page Style-->
<link rel="stylesheet" href="{% static 'CSS/main-page.css' %}"/>
{% endblock %}

{% block static_jsFile %}

{% endblock %}

{% block navBar %}
    <nav>
        <div class="container">
            <div class="logo">
                <a href="{%url 'main-page' %}"
                ><img src="{% static 'svg/logo.svg' %}" alt="logo" height="100%"
                /></a>
            </div>
            <div class="bars inactive" onclick="toggleBars()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="links">
                <ul>
                    <li class="main-list"><a href="{%url 'main-page' %}">Home</a></li>
                    <li class="main-list"><a href="{%url 'login-page' %}">Login</a></li>
                    <li class="main-list">
                        <a href="{%url 'registration-admin' %}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

 
{% block Bodycontent %}
    <section class="all-layers">
        <div class="main-sec">
            <h1><b>Welcome to FCAI Higher Studies Website</b></h1>
            <h6>About us</h6>
            <span>
              this is a website that helps the Admins to add new students and assign courses, or departments
              to them and keep informed of their progress during the semester.
            </span>
        </div>
        <div class="need"></div>
        <img src="{% static 'svg/main-page.svg' %}" alt="student image"/>
        <br/><br/>
        <div class="st-sec">
            <h4>Student</h4>
            <a class="btn"> Log-In </a>
    
            <img src="{% static 'svg/main-page-sign.svg' %}" alt="sign in image"/>
        </div>
    
        <div class="new-acc">
            <h4>Don't have an account?</h4>
            <a href="{%url 'registration-admin' %}" class="btn"> Register </a>
            <img src="{% static 'svg/main-page-reg.svg' %}" alt="registration Image"/>
        </div>
    
        <div class="admin-sec">
            <h4>Admin</h4>
            <a href="{%url 'login-page' %}" class="btn">Log-In </a>
    
            <img src="{% static 'svg/main-page-admin.svg' %}" alt="sign in admin"/>
        </div>
    </section>
{% endblock %}

