h1 {
  text-align: center;
  color: var(--mainColor);
}

section .container {
  width: 55%;
  background-color: var(--lightColor);
  box-shadow: var(--boxShadow);
  border-radius: var(--bs-border-radius);
}

section .container label {
  font-size: 1.1em;
  margin-bottom: 5px;
  display: block;
}

section .container section {
  margin-bottom: 20px;
}

section .container input:not([type = 'submit'], [type = 'reset']), section .container datalist option {
  appearance: none;
  outline: none;
  border: none;
  /*border: 1px solid var(--mainColor);*/
  box-shadow: var(--boxShadow);
  background: white;
  width: 100%;
  padding: 10px 20px;
  border-radius: var(--bs-border-radius);
}

section .container input:not([type = 'submit'], [type = 'reset']):focus-visible {
  border: 1px solid var(--mainColor);
  box-shadow: none;
}

section .container input[type='reset'] {
  background-color: var(--dangerColor);
}

section .container section:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 690px) {
  section .container section:last-child {
    grid-template-columns: 1fr;
  }
}

section .container section:last-child .btn {
  width: 100%;
}

.btn {
  font-size: 1em;
}
