.wrapper {
    max-width: 375px;
    width: 100%;
    background: var(--lightColor-4);
    margin: 20px auto;
    padding: 30px;
    border-radius: var(--bs-border-radius);
    box-shadow: var(--boxShadow);
}

.title {
    /* padding-top: 0px; */
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--mainColor);
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .input_field {
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
    display: inline-block;
    margin-right: 15px;
}

.wrapper .form .input_field , .wrapper .form .input_field label  {
    display: block;
    
}

.wrapper .form .input_field label {
    width: 200px;
    color: var(--mainColor);
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input_field input, .wrapper .form .input_field textarea {
    width: 100%;
    outline: none;
    border: 1px solid var(--lightColor-2);
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background:  var(--mainColor);
    color: var(--lightColor-3);
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover{
    background: var(--lightColor-2);
}