section{
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

.all-layers{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    text-align: center;
    align-content: center;
    padding: 0px 128px 0 128px;
    margin: 64px 216px 0 110px;
}

.content-table{
    margin: 27px,0;
    font-size: 1.0em;
    padding: 20px;
    border-collapse: collapse;
    text-align: left;
    min-width: 400px;
    width: 1130px;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table tr:nth-child(even){
    background-color: #ffffff;
}

.content-table tr:last-of-type{
    border-bottom: 4px solid var(--mainColor);
}

.content-table tr{
    background-color: var(--lightColor);
    border-bottom: 1px solid var(--darkColor);
}

.content-table th{
    color : var(--darkColor);
    text-align: left;
    font-weight: 500;
}

.content-table td{
    font-weight: 200;
    padding: 10px 15px;
    text-align: left;
}

.content-table th:hover,tr:hover,td:hover{
    color:var(--mainColor)
}

.profile-pic img{
    width:200px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
}

.lower-layer{
    display: flex;
    width: calc(100%/3);
    height: 580px;
    padding: 0px 54px 0px 67px;
    margin: -53px -24px 0px 20px;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .all-layers{
        width: 1150px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 800px) {

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* .all-layers{
        width: 1150px;
    } */
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* .all-layers{
        width: 1150px;
    } */
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* .all-layers{
        width: 1070px;
    } */
  }