@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

::selection {
  background-color: var(--lightColor-2);
  color: var(--lightColor-3)
}

:root {
  --padding-x: 20px;
  --padding-y: 10px;
  --mainColor: #02020b;
  --lightColor-1: #ece4b7;
  --lightColor-2: #e6aa68;
  --lightColor-3: #ffffff;
  --lightColor-4: #f8f7f9;
  --darkColor-1: #191921;
  --darkColor-2: #303037;
  --darkColor-3: #f9f9f9;
  --dangerColor: #ef5350;
  --bs-border-width: 1px;
  --bs-border-radius: 0.375rem;
  --mainTransition: 0.5s;
  --boxShadow: 1px 1px 2px var(--darkColor-2);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--darkColor);
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.65rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--lightColor-3);
  --bs-btn-bg: var(--mainColor);
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  cursor: pointer;
  border: none;
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 120px;
  position: relative;
  font-size: 1.2em;
  font-weight: 400;
}

.btn span {
  transition: var(--mainTransition);
  display: block;
}

.btn:not([class="static-btn"]):hover span {
  padding-right: 12px;
}

.btn i {
  position: absolute;
  opacity: 0;
  top: 50%;
  transition: 0.5s;
}

.btn:hover i {
  opacity: 1;
}

.btn.to-right-btn i {
  right: 5px;
}

.btn.to-right-btn:hover i {
  right: 18px;
}

.btn.to-down-btn i {
  top: 5px;
  right: 15px;
}

.btn.to-down-btn:hover i {
  top: 50%;
}

.btn::after {
  content: "";
  background-color: var(--lightColor-3);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: var(--mainTransition);
}

.btn:hover::after {
  opacity: 0.2;
}

.container {
  width: 95%;
  padding: 10px 20px;
  margin: auto;
}

/* Navigation Styling */

nav {
  background-color: var(--mainColor);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: var(--lightColor-3);
  font-weight: 400;
  font-size: 1.2em;
}

nav .container {
  display: flex;
  justify-content: center;
  position: relative;
}

nav .container .logo {
  height: 50px;
  position: absolute;
  left: 0;
}

nav .container .links {
  transition: var(--mainTransition);
  transform-origin: top center;
  display: flex;
  justify-content: flex-end;
}

nav .container .links ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .container .links ul li {
  margin-right: 10px;
  display: inline-block;
  padding: var(--padding-y) var(--padding-x);
}

nav .container .links ul li a {
  display: block;
  text-decoration: none;
  color: var(--lightColor);
  padding: calc(var(--padding-y) / 2) 0;
}

nav .container .links .main-list > a {
  display: inline-block;
  position: relative;
  text-align: center;
  transition: var(--mainTransition);
}

/* Transaction from left to right */
/*nav .container .links .main-list > a::after {*/
/*  content: "";*/
/*  width: 0;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  bottom: -3px;*/
/*  height: 2px;*/
/*  transition: var(--mainTransition);*/
/*  background-color: var(--lightColor);*/
/*}*/

/*nav .container .links .main-list:hover > a::after {*/
/*  width: 100%;*/
/*}*/

/*Transaction from inside to outside*/
nav .container .links .main-list > a::after {
  content: "";
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  transition: var(--mainTransition);
  background-color: var(--lightColor-2);
}

nav .container .links .main-list:hover > a::after {
  width: 100%;
  left: 0;
}

nav .container .links .main-list:hover > a {
  color: var(--lightColor-2);
}

/* bars */

nav .container .bars {
  position: relative;
  width: 30px;
  height: 18px;
  margin: calc(var(--padding-y) * 1.5) var(--padding-x);
  cursor: pointer;
  display: none;
}

@media (max-width: 862px) {
  nav .container .bars {
    display: inline-block;
  }

  nav .container .links {
    position: absolute;
    top: 100%;
    background: var(--mainColor);
    left: -2.5%;
    width: 105%;
    justify-content: center;
  }

  nav .container .bars.inactive ~ .links {
    transform: rotateX(90deg);
  }

  nav .container .bars.active ~ .links {
    transform: rotateX(0);
  }

  nav:has(.bars.active)::before {
    content: "";
    background-color: #0b2027;
    position: absolute;
    opacity: 0.3;
    width: 100%;
    height: calc(100vh - 100%);
    top: 100%;
  }

  nav .container .links li {
    display: block !important;
    margin: 0;
    text-align: center;
  }
}

nav .container .bars span {
  display: inline-block;
  position: absolute;
  height: 2px;
  left: 0;
  background-color: var(--lightColor-3);
  width: 100%;
  transition: 0.5s;
  border-radius: 10px;
}

nav .container .bars.inactive span:nth-child(1) {
  top: 0;
}

nav .container .bars.inactive span:nth-child(2) {
  top: 8px;
}

nav .container .bars.inactive span:nth-child(3) {
  top: 16px;
}

nav .container .bars.active span {
  bottom: 50%;
}

nav .container .bars.active span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: center center;
}

nav .container .bars.active span:nth-child(2) {
  transform: rotate(-45deg);
  transform-origin: center center;
}

nav .container .bars.active span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: center center;
}

section.message {
  margin: calc(var(--padding-y) * 3) 0;
  display: none;
}

section.message > .container {
  width: 58%;
}

section.message > .container > div {
  background-color: red;
  margin: 0 auto;
  display: none;
  padding: calc(var(--padding-y) * 2) calc(var(--padding-x) * 2);
  border-radius: var(--bs-border-radius);
  color: var(--lightColor);
  text-align: center;
  font-size: 1.1em;
}

section.message > .container > .warning {
  background-color: #fceaea;
  border: 2px solid #ef5350;
  color: #ef5350;
}

section.message > .container > .successful {
  background-color: #e9fbf0;
  border: 2px solid #0f5c2e;
  color: #0f5c2e;
}
