@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --padding-x: 20px;
  --padding-y: 10px;
  --mainColor: #016fb9;
  --lightColor: #f8f7f9;
  --darkColor: #0b2027;
  --dangerColor: #ED4F32;
  --bs-border-width: 1px;
  --bs-border-radius: 0.375rem;
  --mainTransition: 0.5s;
  --boxShadow: 1px 1px 2px #d6d6d6;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: var(--darkColor);
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.650rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--lightColor);
  --bs-btn-bg: var(--mainColor);
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  cursor: pointer;
  border: none;
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 120px;
  position: relative;
  font-size: 1.2em;
}

.btn span {
  transition: var(--mainTransition);
  display: block;
}

.btn:not([class="static-btn"]):hover span {
  padding-right: 12px;
}

.btn i {
  position: absolute;
  opacity: 0;
  top: 50%;
  transition: 0.5s;
}

.btn:hover i {
  opacity: 1;
}

.btn.to-right-btn i {
  right: 5px;
}

.btn.to-right-btn:hover i {
  right: 18px;
}

.btn.to-down-btn i {
  top: 5px;
  right: 15px;
}

.btn.to-down-btn:hover i {
  top: 50%;
}

.btn::after {
  content: "";
  background-color: var(--darkColor);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: var(--mainTransition);
}

.btn:hover::after {
  opacity: 0.08;
}

.container {
  width: 90%;
  max-width: 1200px;
  padding: 10px 20px;
  margin: auto;
}

/* Navigation Styling */

nav {
  background-color: var(--mainColor);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav .container {
  display: flex;
  justify-content: center;
  position: relative;
}

nav .container .links {
  transition: var(--mainTransition);
  transform-origin: top center;
}

nav .container .links ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .container .links ul li {
  margin-right: 10px;
  display: inline-block;
  padding: var(--padding-y) var(--padding-x);
}

nav .container .links ul li a {
  display: block;
  text-decoration: none;
  color: var(--lightColor);
  padding: calc(var(--padding-y) / 2) 0;
}

nav .container .links .main-list > a {
  display: inline-block;
  position: relative;
  text-align: center;
}

/* Transaction from left to right */
/*nav .container .links .main-list > a::after {*/
/*  content: "";*/
/*  width: 0;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  bottom: -3px;*/
/*  height: 2px;*/
/*  transition: var(--mainTransition);*/
/*  background-color: var(--lightColor);*/
/*}*/

/*nav .container .links .main-list:hover > a::after {*/
/*  width: 100%;*/
/*}*/

/*Transaction from inside to outside*/
nav .container .links .main-list > a::after {
  content: "";
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  transition: var(--mainTransition);
  background-color: var(--lightColor);
}

nav .container .links .main-list:hover > a::after {
  width: 100%;
  left: 0;
}

/* bars */

nav .container .bars {
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  display: none;
}

@media (max-width: 690px) {
  nav .container .bars {
    display: inline-block;
  }

  nav .container .links {
    position: absolute;
    top: 100%;
    background: var(--mainColor);
    left: 0;
    width: 100%;
  }

  nav .container .bars.inactive ~ .links {
    transform: rotateX(90deg);
  }

  nav .container .bars.active ~ .links {
    transform: rotateX(0);
  }

  nav:has(.bars.active)::before {
    content: "";
    background-color: #0b2027;
    position: absolute;
    opacity: 0.3;
    width: 100%;
    height: calc(100vh - 100%);
    top: 100%;
  }

  nav .container .links li {
    display: block !important;
    margin: 0;
    text-align: center;
  }
}

nav .container .bars span {
  display: inline-block;
  position: absolute;
  height: 2px;
  left: 0;
  background-color: var(--lightColor);
  width: 100%;
  transition: 0.5s;
  border-radius: 10px;
}

nav .container .bars.inactive span:nth-child(1) {
  top: 0;
}

nav .container .bars.inactive span:nth-child(2) {
  top: 8px;
}

nav .container .bars.inactive span:nth-child(3) {
  top: 16px;
}

nav .container .bars.active span {
  bottom: 50%;
}

nav .container .bars.active span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: center center;
}

nav .container .bars.active span:nth-child(2) {
  transform: rotate(-45deg);
  transform-origin: center center;
}

nav .container .bars.active span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: center center;
}
